.reviews-container {
    width: 100%;
    max-width: 1250px;
    margin: auto;
    padding: 20px;
    margin: 0 auto;
    color: #fff;
    padding: 50px 0px;
}

.review-summary {
    text-align: center;
    margin-bottom: 20px;
}

.review-summary-stars {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.review-reviews {
    position: relative;
}

.review-card {
    box-sizing: border-box;
    text-align: left;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    max-width: 350px;
    height: fit-content;
    min-height: 240px;
    margin: 10px;
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.slick-track {
    display: flex;
    align-items: center;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-header-subctn {
    display: flex;
    align-items: center;
}

.review-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.review-name-rating-ctn {
    display: flex;
    gap: 6px;
    flex-direction: column;
}

.review-stars {
    margin: 10px 0;
}

.review-summary-stars .star {
    font-size: 2.5em;
}

.review-date {
    text-align: start;
    font-size: 0.8em;
    color: #bbb;
}

.review-header h3 {
    margin: 0;
    font-size: 1.2em;
}

.review-text {
    text-align: start;
    font-size: 1em;
    margin: 10px 0;
}

.star {
    font-size: 1.5em;
    color: gold;
    margin-right: 2px;
}

@media screen and (max-width: 500px) {
    .review-card {
        width: 350px;
        max-width: 350px;
        min-height: 350px;
    }

    .slick-track {
        display: flex !important;
        gap: 20px;
    }
}

.section-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 80px 0px;
    height: fit-content;
  }